
.food-list__control{
    margin-top: 1rem;
    width: 30%;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    input{
        width: 7%;
    }
}
.white{
    color: white;
    border-bottom: 2px solid white;
}